USE [master]
GO
/****** Object:  Database [ecommerce-db]    Script Date: 5/24/2024 6:45:22 PM ******/
CREATE DATABASE [ecommerce-db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ecommerce-db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ecommerce-db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ecommerce-db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ecommerce-db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ecommerce-db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ecommerce-db]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/24/2024 6:45:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 5/24/2024 6:45:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](80) NOT NULL,
	[SubTitle] [nvarchar](100) NOT NULL,
	[ImageUrl] [nvarchar](1000) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImageUrls]    Script Date: 5/24/2024 6:45:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageUrls](
	[ImageUrlId] [uniqueidentifier] NOT NULL,
	[PublicUrl] [nvarchar](1000) NOT NULL,
	[Url] [nvarchar](1000) NOT NULL,
	[ProductId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_ImageUrls] PRIMARY KEY CLUSTERED 
(
	[ImageUrlId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 5/24/2024 6:45:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [uniqueidentifier] NOT NULL,
	[CategoryId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Price] [int] NOT NULL,
	[DiscountPrice] [int] NOT NULL,
	[Rating] [int] NOT NULL,
	[TotalSell] [int] NOT NULL,
	[Stock] [int] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 5/24/2024 6:45:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Comment] [nvarchar](1000) NOT NULL,
	[Rating] [int] NOT NULL,
	[ProductId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShopAvatars]    Script Date: 5/24/2024 6:45:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShopAvatars](
	[ShopAvatarId] [uniqueidentifier] NOT NULL,
	[PublicId] [nvarchar](100) NOT NULL,
	[Url] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ShopAvatars] PRIMARY KEY CLUSTERED 
(
	[ShopAvatarId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shops]    Script Date: 5/24/2024 6:45:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shops](
	[ShopId] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[ShopAvatarsId] [uniqueidentifier] NULL,
	[Ratings] [int] NOT NULL,
 CONSTRAINT [PK_Shops] PRIMARY KEY CLUSTERED 
(
	[ShopId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/24/2024 6:45:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [uniqueidentifier] NOT NULL,
	[FullName] [nvarchar](500) NOT NULL,
	[Sex] [nvarchar](80) NOT NULL,
	[Age] [int] NOT NULL,
	[Birthday] [datetime2](7) NULL,
	[Hobby] [nvarchar](80) NOT NULL,
	[Email] [nvarchar](80) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240524172529_AddUsers', N'7.0.2')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240524172625_AddCategories', N'7.0.2')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240524172844_AddReviews', N'7.0.2')
GO
INSERT [dbo].[Categories] ([CategoryId], [Title], [SubTitle], [ImageUrl]) VALUES (N'f9da526c-a651-4b98-81e0-240d29ffe55d', N'Gifts', N'', N'https://searchspring.com/wp-content/uploads/2022/10/Hero-Image-Platform-Others-2.png')
INSERT [dbo].[Categories] ([CategoryId], [Title], [SubTitle], [ImageUrl]) VALUES (N'8e1f3278-b97e-45a6-ab0f-4a373a6c264d', N'Music and Gaming', N'', N'https://static.vecteezy.com/system/resources/previews/011/996/555/original/3d-black-headphone-illustration-ecommerce-icon-png.png')
INSERT [dbo].[Categories] ([CategoryId], [Title], [SubTitle], [ImageUrl]) VALUES (N'418a55c2-6254-4bc7-9593-4a41665fd396', N'Shoes', N'', N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvBQPQMVNRd6TtDkGs2dCri0Y-rxKkFOiEWw&usqp=CAU')
GO
INSERT [dbo].[ImageUrls] ([ImageUrlId], [PublicUrl], [Url], [ProductId]) VALUES (N'2b36c506-8a20-41e8-8faf-02b1df746104', N'test', N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTg7XWy1cmt1D3uUjF29eo2q4HgqJaGEu9XDg&usqp=CAU', NULL)
INSERT [dbo].[ImageUrls] ([ImageUrlId], [PublicUrl], [Url], [ProductId]) VALUES (N'5d48f1c9-84d8-42e5-a423-1082e7272832', N'test', N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCEvcavb1VnIbFqFEh_5sgzYPgjcVAbFLl7g&usqp=CAU', NULL)
INSERT [dbo].[ImageUrls] ([ImageUrlId], [PublicUrl], [Url], [ProductId]) VALUES (N'79b09059-7158-47b3-b359-14110d2ff2f0', N'test', N'https://i0.wp.com/eccocibd.com/wp-content/uploads/2022/01/1802NL02_1.png?fit=550%2C550&ssl=1', NULL)
GO
INSERT [dbo].[ShopAvatars] ([ShopAvatarId], [PublicId], [Url]) VALUES (N'b09431c1-0caf-41b8-b608-14b04c68815b', N'test', N'https://www.hatchwise.com/wp-content/uploads/2022/05/amazon-logo-1024x683.png')
GO
INSERT [dbo].[Shops] ([ShopId], [ProductId], [Name], [ShopAvatarsId], [Ratings]) VALUES (N'4c03a054-0ec5-4e21-9a9f-070da8780665', N'e6f56553-8663-4dd3-a4f0-8e21fbc2c16a', N'Apple inc.', NULL, 4)
INSERT [dbo].[Shops] ([ShopId], [ProductId], [Name], [ShopAvatarsId], [Ratings]) VALUES (N'834a1b85-7920-4fe7-b47d-2a76ab3aed22', N'e6f56553-8663-4dd3-a4f0-8e21fbc2c16a', N'Energy System', NULL, 4)
INSERT [dbo].[Shops] ([ShopId], [ProductId], [Name], [ShopAvatarsId], [Ratings]) VALUES (N'fafa573f-b375-4fc7-a0b1-31a2666fad13', N'e6f56553-8663-4dd3-a4f0-8e21fbc2c16a', N'Unik', NULL, 4)
GO
INSERT [dbo].[Users] ([UserId], [FullName], [Sex], [Age], [Birthday], [Hobby], [Email]) VALUES (N'f3d2300a-c9cf-49b4-b137-aca949bf3b6a', N'', N'M', 36, CAST(N'2024-05-24T18:26:25.2074553' AS DateTime2), N'swiming', N'oleitao@gmail.com')
GO
/****** Object:  Index [IX_ImageUrls_ProductId]    Script Date: 5/24/2024 6:45:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_ImageUrls_ProductId] ON [dbo].[ImageUrls]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_CategoryId]    Script Date: 5/24/2024 6:45:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_Products_CategoryId] ON [dbo].[Products]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reviews_ProductId]    Script Date: 5/24/2024 6:45:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_Reviews_ProductId] ON [dbo].[Reviews]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reviews_UserId]    Script Date: 5/24/2024 6:45:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_Reviews_UserId] ON [dbo].[Reviews]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Shops_ProductId]    Script Date: 5/24/2024 6:45:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_Shops_ProductId] ON [dbo].[Shops]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Shops_ShopAvatarsId]    Script Date: 5/24/2024 6:45:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_Shops_ShopAvatarsId] ON [dbo].[Shops]
(
	[ShopAvatarsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ImageUrls]  WITH CHECK ADD  CONSTRAINT [FK_ImageUrls_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[ImageUrls] CHECK CONSTRAINT [FK_ImageUrls_Products_ProductId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories_CategoryId]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Products_ProductId]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Users_UserId]
GO
ALTER TABLE [dbo].[Shops]  WITH CHECK ADD  CONSTRAINT [FK_Shops_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Shops] CHECK CONSTRAINT [FK_Shops_Products_ProductId]
GO
ALTER TABLE [dbo].[Shops]  WITH CHECK ADD  CONSTRAINT [FK_Shops_ShopAvatars_ShopAvatarsId] FOREIGN KEY([ShopAvatarsId])
REFERENCES [dbo].[ShopAvatars] ([ShopAvatarId])
GO
ALTER TABLE [dbo].[Shops] CHECK CONSTRAINT [FK_Shops_ShopAvatars_ShopAvatarsId]
GO
USE [master]
GO
